<footer class="container-fluid bg-light">
	<div class="row" style="background-color: #93C47D;">
		<section class="col">Colonne 1</section>
		<section class="col">Colonne 2</section>
		<section class="col">Colonne 3</section>
	</div>
</footer>
