<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="header container-fluid" style="background-color: #93C47D;">
		<a class="navbar-brand" href="#" style="color: white;">
			<img src="/assets/img/latin.png" alt="Bootstrap" width="50" height="50">Mon Potager Partagé</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto justify-content-end">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">
						<div class="rond">
							<img src="/assets/img/livre.png" alt="Bootstrap" width="35" height="35">
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<div class="rond">
							<img src="/assets/img/liste.png" alt="Bootstrap" width="35" height="35">
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<div class="rond">
							<img src="/assets/img/article.png" alt="Bootstrap" width="35" height="35">
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " aria-disabled="true">
						<div class="rond">
							<img src="/assets/img/calendrier.png" alt="Bootstrap" width="35" height="35">
						</div>
					</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link " aria-disabled="true" href="#" alt="mon-compte">
							<div class="rond">
								<img src="/assets/img/profil.png" alt="Bootstrap" width="35" height="35">
							</div>
						</a>
					</li>
					<li class="nav-item" >
						<a class="nav-link " aria-disabled="true" href="{{ path('app_logout') }}" >
							<div class="rond" alt="deconnexion">
								<img src="/assets/img/se-deconnecter.png" alt="Bootstrap" width="35" height="35">
							</div>
						</a>
					</li>
				{% else %}
					<li class="nav-item" alt="connexion">
						<a class="nav-link " aria-disabled="true" href="{{ path('app_login') }}" >
							<div class="rond">
								<img src="/assets/img/profil.png" alt="Bootstrap" width="35" height="35">
							</div>
						</a>
					</li>
					<li class="nav-item" alt="inscription">
						<a class="nav-link " aria-disabled="true" href="{{ path('app_register') }}" >
							<div class="rond">
								<img src="/assets/img/ajouter-un-utilisateur.png" alt="Bootstrap" width="35" height="35">
							</div>
						</a>
					</li>
				{% endif %}

				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link " aria-disabled="true">
							<div class="rond">
								<img src="/assets/img/x.png" alt="Bootstrap" width="25" height="25">
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " aria-disabled="true">
							<div class="rond">
								<img src="/assets/img/insta.png" alt="Bootstrap" width="25" height="25">
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " aria-disabled="true">
							<div class="rond">
								<img src="/assets/img/facebook.png" alt="Bootstrap" width="25" height="25">
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " aria-disabled="true">
							<div class="rond">
								<img src="/assets/img/mail.png" alt="Bootstrap" width="25" height="25">
							</div>
						</a>
					</li>
				</li>
			</li>
		</ul>
	</ul>

</div></div></nav>
