{% extends 'base.html.twig' %}
{% block body %}
	<main class="conainer">
		<section class="row">
			<div class="col-12">
            <h1>Liste des articles de tuto {{ tuto.titre }}</h1>
            </div>
		</section>
	</main>


{% endblock %}
